body {
  font-family: 'Montserrat', sans-serif !important;
  background: rgb(245,246,247);
  background: linear-gradient(294deg, rgba(245,246,247,1) 42%, rgba(250,250,250,1) 88%);
  
}
.wrapper{
  height:600px;
  
}
.wrapper::after { 
 max-height: 600px;
 content:"";
 background : url('./assets/images/etherLogo.png');
 background-repeat: no-repeat;
 background-position: center;
 opacity: 0.2;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 position: absolute;
 z-index: -1;
}

